body{
    margin: 0px;
    background-image: url("landscape_.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;


}
h1{
    color: white;
    font-size: 60px;
    text-align: center;
    position: static;
}

p{
 color: white;
 font-size: 30px;
 text-align: center;
 white-space: pre;

}

h2{
    color: white;
    text-align: center;
    font-size: 50px;
}
h3{
    color: white;
    font-size: 40px;
    text-align: center;

}



.div1{
    
    display: flex;
    font-size: 25px;
    color: white;
    text-align: center;
    white-space: pre;
    justify-content: center;
}



.img{
    width: 300px;    
}

 .image{
    display: flex;
    justify-content: center;
    gap: 10px;
 }

 .my_side{
    display: flex;
    color: white;
    font-size: 25px;
    justify-content: center;
    
    
 }

 .section{
    display: flex;
    font-size: 25px;
    color: white;
    text-align: center;
    white-space: pre;
    justify-content: center;  
 }
 .fox{
    width: 25%;
 }